<app-layout>
<h3>Create Articulo</h3>
<div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <div class="col-xs-1 col-lg-2">
      <label for="name">Codigo</label>
      <input type="text" class="form-control"  formControlName = "Id"  [readonly]="mode=='edit'">
      <div *ngIf="this.myForm.get('Id').invalid && (this.myForm.get('Id').dirty || this.myForm.get('Id').touched)" class="alert alert-danger">
        <div *ngIf="this.myForm.get('Id').errors.required">Codigo Requerido.</div>
        <div *ngIf="this.myForm.get('Id').errors?.serverError">{{this.myForm.get('Id').errors.serverError}}</div>               
    </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-6 col-lg-6">
           <label for="name">Nombre</label>
           <input type="text" class="form-control"  formControlName = "Nombre" required >
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
      <label for="name">Familia</label>
    <select class="form-control" formControlName = "IdFamilia" name="IdFamilia" >
      <option *ngFor="let item of familia" [ngValue]="item.Id" >{{item.Nombre}} </option>
    </select>   
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
      <label for="name">Unidad Medida</label>
      <select class="form-control" formControlName = "IdUnidad" name="IdUnidad" >
        <option *ngFor="let item of unidadMedida" [ngValue]="item.Id">{{item.Nombre}} </option>
      </select>   
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
      <label for="name">Costo Venta</label>
      <input type="number" class="form-control"  formControlName = "CostoVenta"  name="CostoVenta"  mask="0*.000">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
      <label for="name">Impuesto Venta</label>
      <input type="number" class="form-control" formControlName = "ImpuestoVenta" name="ImpuestoVenta" >
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
      <label for="name">Cond. Iva</label>
    <select class="form-control" formControlName = "CondIva" name="CondIva"  (change)="condIvaChange($event)">
      <option *ngFor="let item of condIva" [ngValue]="item.Id">{{item.Nombre}} </option>
    </select> 
    <input type="hidden" class="form-control" id="AlicuotaIva" formControlName = "AlicuotaIva"  name="AlicuotaIva">  
    </div>
    </div>
    <div class="form-group row">
    <div class="col-md-2">
      <label for="name">Margen Venta</label>
      <input type="number" class="form-control"  formControlName = "MargenVenta"  name="MargenVenta" >
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
      <label for="name">Precio Venta</label>
      <input type="number" class="form-control" formControlName = "PrecioVenta" name="PrecioVenta">
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
      <label for="name">Precio Venta Final</label>
      <input type="number" class="form-control"  formControlName = "PrecioVentaFinal" name="PrecioVentaFinal"  step="0.01">
    </div>
    </div>
    <div class="row">
      <div class="col-xs-1 col-lg-1">   
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Aceptar</button>    
      </div> 
      <div class="col-xs-1 col-lg-1">
        <button class="btn btn-primary" (click)="goBack()">Cancelar</button>
      </div>  
    </div>
  </form> 
</div>
</app-layout>
