
<main  role="main">
<form [formGroup]="form">
    <div class="form-group row">
       <div class="col-xs-2 col-lg-2">
            <label>Tipo</label>          
       </div>     
       <div class="col-xs-2 col-lg-2">
            <label>Letra</label>
            <label>{{entity.Letra}}</label>
       </div>
       <div class="col-xs-1 col-md-1">
            <label>Numero</label>
            <label>{{("0000" + entity.Pe).slice(-4) | number:'4'}}</label>
       </div>       
    </div>
    <div class="form-group row">
      <div class="col-xs-4 col-lg-4">
           <label for="fecha">Fecha</label>
           <label>{{entity.Fecha | date:'dd-MM-yyyy'}}</label>
      </div>
      <div class="col-xs-4 col-lg-4">
        <label for="fechaVenc">Fecha Venc</label>
        <label>{{entity.FechaVencimiento | date:'dd-MM-yyyy'}}</label>
    </div>
    </div>        
    <div class="form-group row">
        <div class="col-xs-5 col-lg-5">
            <label for="idCuenta">Cuenta : </label>
            <label for="idCuenta">{{entity.Sujeto.Nombre}}</label>              
        </div>  
    </div>
    <div class="form-group row">
        <div class="col-xs-2 col-lg-2">
            <label>Total Neto : </label>
            <label>{{entity.TotalNeto}}</label>              
        </div>
        <div class="col-xs-2 col-lg-2">
            <label>Total IVA : </label>
            <label>{{entity.TotalIva}}</label>              
        </div>    
        <div class="col-xs-2 col-lg-2">
            <label>Total : </label>
            <label>{{entity.Total}}</label>              
        </div>          
    </div>
    <div class="form-group row">        
        <div class="col-xs-12 col-lg-12" *ngFor="let error of errors" class="alert alert-warning alert-dismissible fade show" role="alert">
            {{error.value}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    
    <div class="row">
        <mat-dialog-actions>
            <button class="mat-raised-button"(click)="onSubmit()">Autorizar</button>
            <button class="mat-raised-button"(click)="goBack()">Cerrar</button>
        </mat-dialog-actions>
    </div>    
</form>
</main>