<app-layout>
    <div toolbar >
      <app-toolbar (addNew)="addNew()" (exportToExcel)="exportToExcel()" (findByName)="findByName($event)"></app-toolbar>
    </div>
      <table class="table table-hover table-responsive-sm">
          <thead>
            <tr>
              <th class="th-sm">Codigo</th>
              <th class="th-sm">Nombre                     </th>            
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{item.Id}}</td>
              <td>{{item.Nombre}}</td>            
              <td>
                <a [routerLink]="['/comun/sujeto', item.Id]">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
              <td> <a (click)="delete(item)" >
                <i class="material-icons btn">delete</i>
              </a></td>
            </tr>
          </tbody>
        </table>
   </app-layout>
  
